# Imports (compatible for Python 2 and Python 3)

In [1]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [2]:
API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

In [23]:
query = '''SELECT * FROM fb55.citibike; '''
table = get_data(query)
table.head(5)

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.994811,NaN,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,1,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,NaN,-73.985649,NaN,245,2/1/2015 1:03,2/1/2015 1:07,438,St Marks Pl & 1 Ave,40.727791,89,297,E 15 St & 3 Ave,40.734232,-73.986923,20142,Subscriber,1990.0,1
2,NaN,-73.990093,NaN,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,2,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
3,NaN,-73.973715,NaN,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,3,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
4,NaN,-74.004704,NaN,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,4,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2

In [6]:
get_data ('''SELECT * FROM fb55.citibike \
ORDER BY start_station_id ASC, tripduration DESC''')

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.978034,NaN,511,2/1/2015 0:50,2/1/2015 0:59,119,Park Ave & St Edwards St,40.696089,75,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,20792,Subscriber,1982.0,1
1,NaN,-74.002971,NaN,907,2/1/2015 0:17,2/1/2015 0:32,128,MacDougal St & Prince St,40.727103,26,531,Forsyth St & Broome St,40.718939,-73.992663,16917,Subscriber,1993.0,1
2,NaN,-74.002971,NaN,731,2/1/2015 1:11,2/1/2015 1:23,128,MacDougal St & Prince St,40.727103,92,502,Henry St & Grand St,40.714215,-73.981346,19506,Subscriber,1970.0,1
3,NaN,-74.002971,NaN,521,2/1/2015 2:29,2/1/2015 2:38,128,MacDougal St & Prince St,40.727103,166,276,Duane St & Greenwich St,40.717488,-74.010455,15023,Subscriber,1965.0,1
4,NaN,-74.002971,NaN,428,2/1/2015 1:54,2/1/2015 2:02,128,MacDougal St & Prince St,40.727103,142,312,Allen St & E Houston St,40.722055,-73.989111,21462,Subscriber,1983.0,1
5,NaN,-74.002971,NaN,224,2/1/2015 2:28,2/1/2015 2:32,128,MacDougal St & Prince St,40.727103,165,250,Lafayette St & Jersey St,40.724561,-73.995653,15715,Subscriber,1985.0,1
6,NaN,-73.980858,NaN,665,2/1/2015 0:53,2/1/2015 1:04,150,E 2 St & Avenue C,40.720874,81,497,E 17 St & Broadway,40.737050,-73.990093,18344,Subscriber,1984.0,1
7,NaN,-73.997203,NaN,763,2/1/2015 2:25,2/1/2015 2:38,151,Cleveland Pl & Spring St,40.721816,163,476,E 31 St & 3 Ave,40.743943,-73.979661,21554,Subscriber,1980.0,1
8,NaN,-73.997203,NaN,671,2/1/2015 0:58,2/1/2015 1:09,151,Cleveland Pl & Spring St,40.721816,87,433,E 13 St & Avenue A,40.729554,-73.980572,14706,Subscriber,1989.0,1
9,NaN,-73.997203,NaN,270,2/1/2015 1:22,2/1/2015 1:27,151,Cleveland Pl & Spring St,40.721816,106,2010,Grand St & Greene St,40.721655,-74.002347,19269,Subscriber,1980.0,1
10,NaN,-73.996123,NaN,505,2/1/2015 2:14,2/1/2015 2:22,157,Henry St & Atlantic Ave,40.690893,153,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,14712,Subscriber,1985.0,1
11,NaN,-73.998102,NaN,383,2/1/2015 3:21,2/1/2015 3:27,161,LaGuardia Pl & W 3 St,40.729170,185,223,W 13 St & 7 Ave,40.737815,-73.999947,14631,Subscriber,1981.0,2
12,NaN,-73.970325,NaN,261,2/1/2015 1:41,2/1/2015 1:46,164,E 47 St & 2 Ave,40.753231,131,527,E 33 St & 2 Ave,40.744023,-73.976056,16455,Subscriber,1988.0,1
13,NaN,-73.994564,NaN,709,2/1/2015 0:32,2/1/2015 0:44,168,W 18 St & 6 Ave,40.739713,49,489,10 Ave & W 28 St,40.750664,-74.001768,19705,Subscriber,1979.0,1
14,NaN,-73.984427,NaN,505,2/1/2015 0:24,2/1/2015 0:32,173,Broadway & W 49 St,40.760647,42,442,W 27 St & 7 Ave,40.746647,-73.993915,19766,Subscriber,1972.0,1
15,NaN,-73.984427,NaN,489,2/1/2015 0:50,2/1/2015 0:58,173,Broadway & W 49 St,40.760647,76,305,E 58 St & 3 Ave,40.760958,-73.967245,17416,Subscriber,1984.0,1
16,NaN,-74.010434,NaN,89,2/1/2015 0:53,2/1/2015 0:55,195,Liberty St & Broadway,40.709056,82,264,Maiden Ln & Pearl St,40.707065,-74.007319,14677,Subscriber,1972.0,2
17,NaN,-74.006818,NaN,1757,2/1/2015 1:22,2/1/2015 1:51,212,W 16 St & The High Line,40.743349,104,518,E 39 St & 2 Ave,40.747804,-73.973442,18487,Subscriber,1959.0,1
18,NaN,-73.999947,NaN,428,2/1/2015 0:36,2/1/2015 0:43,223,W 13 St & 7 Ave,40.737815,58,237,E 11 St & 2 Ave,40.730473,-73.986724,17886,Subscriber,1989.0,1
19,NaN,-73.999947,NaN,345,2/1/2015 0:23,2/1/2015 0:29,223,W 13 St & 7 Ave,40.737815,39,293,Lafayette St & E 8 St,40.730287,-73.990765,17105,Subscriber,1993.0,1
20,NaN,-73.971879,NaN,683,2/1/2015 0:16,2/1/2015 0:27,228,E 48 St & 3 Ave,40.754601,22,477,W 41 St & 8 Ave,40.756405,-73.990026,18727,Subscriber,1987.0,1
21,NaN,-73.987140,NaN,676,2/1/2015 1:41,2/1/2015 1:52,236,St Marks Pl & 2 Ave,40.728419,129,454,E 51 St & 1 Ave,40.754557,-73.965930,18198,Subscriber,1986.0,1
22,NaN,-73.987140,NaN,151,2/1/2015 2:40,2/1/2015 2:42,236,St Marks Pl & 2 Ave,40.728419,169,439,E 4 St & 2 Ave,40.726281,-73.989780,19545,Subscriber,1993.0,1
23,NaN,-73.986724,NaN,541,2/1/2015 0:36,2/1/2015 0:45,237,E 11 St & 2 Ave,40.730473,56,472,E 32 St & Park Ave,40.745712,-73.981948,21592,Subscriber,1991.0,1
24,NaN,-73.986724,NaN,365,2/1/2015 1:42,2/1/2015 1:48,237,E 11 St & 2 Ave,40.730473,133,401,Allen St & Rivington St,40.720196,-73.989978,17661,Subscriber,1973.0,2
25,NaN,-73.986724,NaN,290,2/1/2015 2:14,2/1/2015 2:19,237,E 11 St & 2 Ave,40.730473,154,312,Allen St & E Houston St,40.722055,-73.989111,17925,Subscriber,1988.0,1
26,NaN,-73.986724,NaN,208,2/1/2015 1:52,2/1/2015 1:55,237,E 11 St & 2 Ave,40.730473,140,432,E 7 St & Avenue A,40.726218,-73.983799,17886,Subscriber,1985.0,1
27,NaN,-73.986724,NaN,177,2/1/2015 1:23,2/1/2015 1:26,237,E 11 St & 2 Ave,40.730473,108,293,Lafayette St & E 8 St,40.730287,-73.990765,20638,Subscriber,1992.0,1
28,NaN,-74.008592,NaN,1122,2/1/2015 1:54,2/1/2015 2:13,238,Bank St & Washington St,40.736197,141,251,Mott St & Prince St,40.723180,-73.994800,14833,Subscriber,1973.0,1
29,NaN,-73.979382,NaN,265,2/1/2015 0:30,2/1/2015 0:35,243,Fulton St & Rockwell Pl,40.688226,47,261,Johnson St & Gold St,40.694749,-73.983625,18324,Subscriber,1984.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,NaN,-73.981918,NaN,565,2/1/2015 2:14,2/1/2015 2:23,499,Broadway & W 60 St,40.769155,152,228,E 48 St & 3 Ave,40.754601,-73.971879,18872,Subscriber,1964.0,1
170,NaN,-73.971212,NaN,1270,2/1/2015 1:46,2/1/2015 2:08,501,FDR Drive & E 35 St,40.744219,137,223,W 13 St & 7 Ave,40.737815,-73.999947,18853,Subscriber,1974.0,1
171,NaN,-73.987520,NaN,1090,2/1/2015 1:23,2/1/2015 1:42,503,E 20 St & Park Ave,40.738274,107,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
172,NaN,-73.981656,NaN,602,2/1/2015 0:20,2/1/2015 0:30,504,1 Ave & E 15 St,40.732219,30,411,E 6 St & Avenue D,40.722281,-73.976687,21289,Subscriber,1977.0,1
173,NaN,-73.981656,NaN,437,2/1/2015 0:38,2/1/2015 0:46,504,1 Ave & E 15 St,40.732219,59,527,E 33 St & 2 Ave,40.744023,-73.976056,17109,Subscriber,1980.0,1
174,NaN,-73.981656,NaN,275,2/1/2015 1:11,2/1/2015 1:16,504,1 Ave & E 15 St,40.732219,94,507,E 25 St & 2 Ave,40.739126,-73.979738,15327,Subscriber,1985.0,1
175,NaN,-73.981656,NaN,251,2/1/2015 3:11,2/1/2015 3:16,504,1 Ave & E 15 St,40.732219,183,507,E 25 St & 2 Ave,40.739126,-73.979738,16301,Subscriber,1983.0,1
176,NaN,-73.981656,NaN,234,2/1/2015 1:13,2/1/2015 1:17,504,1 Ave & E 15 St,40.732219,99,2012,E 27 St & 1 Ave,40.739445,-73.976806,15173,Subscriber,1984.0,1
177,NaN,-73.988484,NaN,974,2/1/2015 3:26,2/1/2015 3:43,505,6 Ave & W 33 St,40.749013,187,2004,6 Ave & Broome St,40.724399,-74.004704,14574,Subscriber,1985.0,2
178,NaN,-73.988484,NaN,417,2/1/2015 2:39,2/1/2015 2:46,505,6 Ave & W 33 St,40.749013,168,2021,W 45 St & 8 Ave,40.759291,-73.988597,18130,Subscriber,1967.0,1
179,NaN,-73.979738,NaN,389,2/1/2015 0:16,2/1/2015 0:23,507,E 25 St & 2 Ave,40.739126,24,518,E 39 St & 2 Ave,40.747804,-73.973442,16391,Subscriber,1957.0,1
180,NaN,-73.979738,NaN,231,2/1/2015 2:28,2/1/2015 2:32,507,E 25 St & 2 Ave,40.739126,164,237,E 11 St & 2 Ave,40.730473,-73.986724,20353,Subscriber,1985.0,1
181,NaN,-73.977724,NaN,1504,2/1/2015 1:50,2/1/2015 2:15,511,E 14 St & Avenue B,40.729387,138,446,W 24 St & 7 Ave,40.744876,-73.995299,15782,Subscriber,1976.0,1
182,NaN,-73.977724,NaN,861,2/1/2015 3:45,2/1/2015 4:00,511,E 14 St & Avenue B,40.729387,198,335,Washington Pl & Broadway,40.729039,-73.994046,17927,Subscriber,1972.0,1
183,NaN,-73.977724,NaN,442,2/1/2015 0:47,2/1/2015 0:55,511,E 14 St & Avenue B,40.729387,69,410,Suffolk St & Stanton St,40.720664,-73.985180,18232,Subscriber,1993.0,1
184,NaN,-73.988639,NaN,522,2/1/2015 0:16,2/1/2015 0:24,513,W 56 St & 10 Ave,40.768254,23,488,W 39 St & 9 Ave,40.756458,-73.993722,14982,Subscriber,1969.0,1
185,NaN,-73.994618,NaN,548,2/1/2015 0:28,2/1/2015 0:37,515,W 43 St & 10 Ave,40.760094,45,466,W 25 St & 6 Ave,40.743954,-73.991449,16731,Subscriber,1964.0,1
186,NaN,-73.976485,NaN,339,2/1/2015 3:47,2/1/2015 3:53,520,W 52 St & 5 Ave,40.759923,199,153,E 40 St & 5 Ave,40.752062,-73.981632,17389,Subscriber,1963.0,1
187,NaN,-73.994811,NaN,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,1,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
188,NaN,-73.994811,NaN,783,2/1/2015 2:46,2/1/2015 2:59,521,8 Ave & W 31 St,40.750450,173,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,17606,Subscriber,1986.0,1
189,NaN,-73.977061,NaN,497,2/1/2015 2:21,2/1/2015 2:29,528,2 Ave & E 31 St,40.742909,159,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18299,Subscriber,1982.0,1
190,NaN,-73.992663,NaN,977,2/1/2015 0:23,2/1/2015 0:39,531,Forsyth St & Broome St,40.718939,35,127,Barrow St & Hudson St,40.731724,-74.006744,15706,Subscriber,1984.0,1
191,NaN,-73.992663,NaN,285,2/1/2015 0:23,2/1/2015 0:28,531,Forsyth St & Broome St,40.718939,40,403,E 2 St & 2 Ave,40.725029,-73.990697,19261,Subscriber,1966.0,1
192,NaN,-73.984092,NaN,413,2/1/2015 2:57,2/1/2015 3:03,537,Lexington Ave & E 24 St,40.740259,178,433,E 13 St & Avenue A,40.729554,-73.980572,16235,Subscriber,1988.0,1
193,NaN,-73.960241,NaN,1101,2/1/2015 0:34,2/1/2015 0:52,539,Metropolitan Ave & Bedford Ave,40.715348,53,261,Johnson St & Gold St,40.694749,-73.983625,14663,Subscriber,1992.0,1
194,NaN,-73.960241,NaN,918,2/1/2015 0:44,2/1/2015 0:59,539,Metropolitan Ave & Bedford Ave,40.715348,67,372,Franklin Ave & Myrtle Ave,40.694528,-73.958089,18410,Subscriber,1989.0,1
195,NaN,-73.963198,NaN,999,2/1/2015 1:58,2/1/2015 2:14,2002,Wythe Ave & Metropolitan Ave,40.716887,145,307,Canal St & Rutgers St,40.714275,-73.989900,17365,Subscriber,1966.0,1
196,NaN,-74.004704,NaN,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,4,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
197,NaN,-73.988597,NaN,469,2/1/2015 1:37,2/1/2015 1:45,2021,W 45 St & 8 Ave,40.759291,124,480,W 53 St & 10 Ave,40.766697,-73.990617,16528,Subscriber,1975.0,1
198,NaN,-73.959206,NaN,1217,2/1/2015 1:22,2/1/2015 1:43,2022,E 59 St & Sutton Pl,40.758491,105,477,W 41 St & 8 Ave,40.756405,-73.990026,15676,Subscriber,1979.0,2

In [12]:
get_data ('''SELECT * FROM fb55.citibike \
ORDER BY cartodb_id DESC \
LIMIT 10''')

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.976485,NaN,339,2/1/2015 3:47,2/1/2015 3:53,520,W 52 St & 5 Ave,40.759923,199,153,E 40 St & 5 Ave,40.752062,-73.981632,17389,Subscriber,1963,1
1,NaN,-73.977724,NaN,861,2/1/2015 3:45,2/1/2015 4:00,511,E 14 St & Avenue B,40.729387,198,335,Washington Pl & Broadway,40.729039,-73.994046,17927,Subscriber,1972,1
2,NaN,-73.999318,NaN,445,2/1/2015 3:44,2/1/2015 3:52,482,W 15 St & 7 Ave,40.739355,197,504,1 Ave & E 15 St,40.732219,-73.981656,18968,Subscriber,1990,1
3,NaN,-73.991255,NaN,412,2/1/2015 3:42,2/1/2015 3:49,479,9 Ave & W 45 St,40.760193,196,267,Broadway & W 36 St,40.750977,-73.987654,15185,Subscriber,1988,1
4,NaN,-74.003664,NaN,232,2/1/2015 3:41,2/1/2015 3:44,434,9 Ave & W 18 St,40.743174,195,494,W 26 St & 8 Ave,40.747348,-73.997236,17751,Subscriber,1975,1
5,NaN,-73.979955,NaN,401,2/1/2015 3:39,2/1/2015 3:46,393,E 5 St & Avenue C,40.722992,194,403,E 2 St & 2 Ave,40.725029,-73.990697,20358,Subscriber,1983,1
6,NaN,-73.950048,NaN,366,2/1/2015 3:33,2/1/2015 3:39,437,Macon St & Nostrand Ave,40.680983,193,344,Monroe St & Bedford Ave,40.685144,-73.953809,17284,Subscriber,1984,1
7,NaN,-73.988900,NaN,585,2/1/2015 3:32,2/1/2015 3:41,483,E 12 St & 3 Ave,40.732233,192,268,Howard St & Centre St,40.719105,-73.999733,21046,Subscriber,1994,1
8,NaN,-73.981948,NaN,148,2/1/2015 3:29,2/1/2015 3:32,472,E 32 St & Park Ave,40.745712,191,472,E 32 St & Park Ave,40.745712,-73.981948,20727,Subscriber,1982,1
9,NaN,-74.002638,NaN,398,2/1/2015 3:28,2/1/2015 3:35,284,Greenwich Ave & 8 Ave,40.739017,190,285,Broadway & E 14 St,40.734546,-73.990741,19040,Subscriber,1977,1

In [13]:
get_data ('''SELECT DISTINCT birth_year FROM fb55.citibike \
ORDER BY birth_year''')

    birth_year  Unnamed: 1
0       1954.0         NaN
1       1955.0         NaN
2       1957.0         NaN
3       1958.0         NaN
4       1959.0         NaN
5       1960.0         NaN
6       1961.0         NaN
7       1963.0         NaN
8       1964.0         NaN
9       1965.0         NaN
10      1966.0         NaN
11      1967.0         NaN
12      1968.0         NaN
13      1969.0         NaN
14      1970.0         NaN
15      1971.0         NaN
16      1972.0         NaN
17      1973.0         NaN
18      1974.0         NaN
19      1975.0         NaN
20      1976.0         NaN
21      1977.0         NaN
22      1978.0         NaN
23      1979.0         NaN
24      1980.0         NaN
25      1981.0         NaN
26      1982.0         NaN
27      1983.0         NaN
28      1984.0         NaN
29      1985.0         NaN
30      1986.0         NaN
31      1987.0         NaN
32      1988.0         NaN
33      1989.0         NaN
34      1990.0         NaN
35      1991.0         NaN
36      1992.0         NaN
37      1993.0         NaN
38      1994.0         NaN
39      1995.0         NaN
40         NaN         NaN

In [ ]:
TASK

In [25]:
get_data('''SELECT bikeid FROM fb55.citibike \
WHERE EXTRACT(HOUR FROM stoptime::time) = 2 ''')

    bikeid  Unnamed: 1
0    17968         NaN
1    15230         NaN
2    19834         NaN
3    18853         NaN
4    15782         NaN
5    14833         NaN
6    21462         NaN
7    18051         NaN
8    17365         NaN
9    14878         NaN
10   14769         NaN
11   17661         NaN
12   19513         NaN
13   17122         NaN
14   15586         NaN
15   18872         NaN
16   14712         NaN
17   17925         NaN
18   19794         NaN
19   18984         NaN
20   19834         NaN
21   18043         NaN
22   18299         NaN
23   21117         NaN
24   18100         NaN
25   20353         NaN
26   21554         NaN
27   20353         NaN
28   15715         NaN
29   15023         NaN
30   20191         NaN
31   18130         NaN
32   19545         NaN
33   19473         NaN
34   17606         NaN
35   20011         NaN
36   20910         NaN
37   19705         NaN

In [29]:
get_data('''SELECT AVG(birth_year) FROM fb55.citibike \
WHERE EXTRACT(HOUR FROM starttime::time) = 2 ''')

           avg  Unnamed: 1
0  1981.129032         NaN

In [37]:
get_data('''SELECT start_station_id, count(*) FROM fb55.citibike \
GROUP BY start_station_id
ORDER BY 2 DESC
LIMIT 2''')

   start_station_id  count
0               285      6
1               250      6

In [40]:
get_data('''SELECT end_station_id, SUM(tripduration) as duration
FROM fb55.citibike
GROUP BY end_station_id
ORDER BY duration DESC
LIMIT 3
''')

   end_station_id  duration
0             525     35251
1             237      4297
2             127      3806

In [46]:
get_data('''SELECT start_station_id, AVG(tripduration) as avg_duration
FROM fb55.citibike
WHERE EXTRACT(HOUR FROM starttime::time) = 1
GROUP BY start_station_id
ORDER BY avg_duration ASC
LIMIT 1''')

   start_station_id  avg_duration
0               486         114.0